In [2]:
def print_3_hi() :
    print('안녕하세요')
    print('안녕하세요')
    print('안녕하세요')

print_3_hi()

안녕하세요
안녕하세요
안녕하세요

In [3]:
def print_n_hi(value, n) :
    for i in range(n) :
        print(value)

print_n_hi('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

In [5]:
def print_n_value(n, *values) :
    for i in range(n) :
        for v in values :
            print(v)
        print()

print_n_value(2, '안녕하세요', '오늘도', '파이썬', '내일도', '파이썬')

안녕하세요
오늘도
파이썬
내일도
파이썬

안녕하세요
오늘도
파이썬
내일도
파이썬

In [7]:
students = [
    {'name' : '홍길동', '국어': 87, '수학': 98, '영어': 88, '과학': 95},
    {'name' : '김미영', '국어': 92, '수학': 98, '영어': 96, '과학': 98},
    {'name' : '김미애', '국어': 76, '수학': 96, '영어': 90, '과학': 91},
    {'name' : '이봉철', '국어': 95, '수학': 94, '영어': 92, '과학': 90},
    {'name' : '박지연', '국어': 64, '수학': 88, '영어': 92, '과학': 92}
]

In [8]:
for st in students :
    score_sum = st['국어'] + st['수학'] + st['영어'] + st['과학']
    score_avg = score_sum / 4
    print(st['name'], score_sum, score_avg, sep='\t')

홍길동	368	92.0
김미영	384	96.0
김미애	353	88.25
이봉철	371	92.75
박지연	336	84.0

In [9]:
# 클래스 선언
class Student() :
    pass

# 학생 선언
student = Student()

# 학생 리스트 선언
students = [
    Student(),
    Student(),
    Student(),
    Student(),
    Student()
]

In [15]:
# 클래스 선언
class Student :
    def __init__(self, name, korean, math, english, science) :
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science

# 학생 리스트 선언
students = [
    Student('홍길동', 87, 98, 88, 95),
    Student('김미영', 92, 98, 96, 98),
    Student('김미애', 76, 96, 90, 91),
    Student('이봉철', 95, 94, 92, 90),
    Student('박지연', 64, 88, 92, 92)
]

# Student 인스턴스 속성 접근 방법
students[0].name
students[0].korean
students[0].math
students[0].english
students[0].science

95

In [16]:
# 클래스 선언
class Student :
    def __init__(self, name, korean, math, english, science) :
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science

    # 메소드 작성
    def get_sum(self) :
        return self.korean + self.math + self.english + self.science

    def get_avg(self) :
        return self.get_sum() / 4

    def to_string(self) :
        return f'{self.name}\t{self.get_sum()}\t{self.get_avg()}'

# 학생 리스트 선언
students = [
    Student('홍길동', 87, 98, 88, 95),
    Student('김미영', 92, 98, 96, 98),
    Student('김미애', 76, 96, 90, 91),
    Student('이봉철', 95, 94, 92, 90),
    Student('박지연', 64, 88, 92, 92)
]

print('이름', '총점', '평균', sep = '\t')
for student in students :
    print(student.to_string())

이름	총점	평균
홍길동	368	92.0
김미영	384	96.0
김미애	353	88.25
이봉철	371	92.75
박지연	336	84.0