In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('C:\STUDY\StudyPython_kim/day3/gapminder.tsv', sep = '\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

### 그룹화
* df.groupby('그룹화 열')['대상 열']

In [6]:
# 그룹화한 데이터의 평균
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [7]:
print(df.groupby('year')['lifeExp','gdpPercap'].mean())

        lifeExp     gdpPercap
year
1952  49.057620   3725.276046
1957  51.507401   4299.408345
1962  53.609249   4725.812342
1967  55.678290   5483.653047
1972  57.647386   6770.082815
1977  59.570157   7313.166421
1982  61.533197   7518.901673
1987  63.212613   7900.920218
1992  64.160338   8158.608521
1997  65.014676   9090.175363
2002  65.694923   9917.848365
2007  67.007423  11680.071820

C:\Users\admin\AppData\Local\Temp\ipykernel_10596\1136275576.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(df.groupby('year')['lifeExp','gdpPercap'].mean())

In [8]:
grouped_year_df = df.groupby('year')
print(type(grouped_year_df), '\n')

grouped_year_df_lifeExp = grouped_year_df['lifeExp']
print(type(grouped_year_df_lifeExp), '\n')

mean_lifeExp_by_year = grouped_year_df_lifeExp.mean()
print(mean_lifeExp_by_year.head(2))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

<class 'pandas.core.groupby.generic.SeriesGroupBy'>

year
1952    49.057620
1957    51.507401
Name: lifeExp, dtype: float64

* 2개 이상 그룹화

In [10]:
multi_group_mean = df.groupby(['year','continent'])[['lifeExp','gdpPercap']].mean()
print(multi_group_mean.head(10))

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455

* 그룹화 데이터 빈도분석

In [11]:
# nunique() : 빈도수
print(df.groupby('continent')['country'].nunique())   # country는 문자열이므로 mean 등 연산 사용 불가

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64